/* Styles globaux pour la page d'accueil responsive */

.responsiveHome {
  padding-left: 32px;
  padding-right: 32px;
  overflow-x: hidden;
}

@media (max-width: 991px) {
  .responsiveHome {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 767px) {
  .responsiveHome {
    padding-left: 4px;
    padding-right: 4px;
  }
}